h1{
    display: flex;
    justify-content: center;
}

/* Form Input Styling*/
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

li{
    padding: 0.5rem 0;
}

label {
  width: 150px;
}

input {
  flex: 1;
  padding: 6px;
}